@using SingIt.Models
@model ContactUsViewModel

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("ContactSend", "Home"))
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    
    @Html.LabelFor(model => model.EmailAddress)
    @Html.TextBoxFor(model => model.EmailAddress)
    
    @Html.LabelFor(model => model.Message)
    @Html.TextAreaFor(model => model.Message)
}

<input type="submit" name="SubmitButton" value="submit" />

